In [1]:
!pip install kaggle
!pip install pandas sqlalchemy pyodbc

Requirement already satisfied: kaggle in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2025.6.15)
Requirement already satisfied: charset-normalizer in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (6.31.1)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from tqdm->kaggle) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: sqlalchemy in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: pyodbc in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: six>=1.5 in c:\users\rathan\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

# Either use double backslashes
df = pd.read_csv("C:\\Users\\Rathan\\Downloads\\orders.csv", na_values=["Not Available", "unknown"])

In [22]:
df.head()

print(df.columns.tolist())
df.columns = df.columns.str.lower().str.replace(' ', '_')

['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'category', 'sub_category', 'product_id', 'quantity', 'sale_price', 'profit']

In [20]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0

In [23]:
df[['sale_price', 'profit']].head()

   sale_price  profit
0       254.8    14.8
1       708.1   108.1
2         9.5    -0.5
3       940.8   160.8
4        19.0    -1.0

In [31]:
#convert order date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,sale_price,profit,cost_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,240.0
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,600.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,10.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,780.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,28.8,-1.2,30.0
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,86.4,16.4,70.0
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,254.8,34.8,220.0
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,29.1,-0.9,30.0
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,232.8,22.8,210.0

In [ ]:
# Drop columns you don't need anymore
df.drop(columns=['list_price', 'cost_price', 'discount_percent'], inplace=True)

In [8]:
import sqlalchemy as sal


# Correctly define values
username = "root"
password = "charvi30"
host = "127.0.0.1"         # ✅ Only IP address here
port = 3306                # ✅ Port as a number (no quotes)
database = "practice"

# Create connection engine
engine = sal.create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")
conn = engine.connect()

df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

9994

In [33]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'sale_price', 'profit', 'cost_price'],
      dtype='object')